@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.tooltip {
  position: absolute;
  background-color: #333;
  color: white;
  padding: 0.5rem;
  border-radius: 0.25rem;
  white-space: nowrap;
  transform: translate(-50%, -100%);
  opacity: 0;
  
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
}

.relative:hover .tooltip {
  opacity: 1;
}